{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}Detailed Issue{% endblock meta_title %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/detailed_issue.css' %}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
{% endblock extra_css %}

{% block content %}

<div class="container">
    <div class="row">
        {% for image in attachment_list  %}
            <div class="col-sm-2">
            {% if image.image_url %}
                <img src="{{ image.image_url.url }}" alt="..." class="img-thumbnail">
            {% else %}
                <img src="{% static "city_issues/img/no-image.png" %}" alt="..." class="img-thumbnail">
            {% endif %}
            </div>
        {% endfor %}
        {% if not attachment_list %}
            <div class="col-sm-2">
                <img src="{% static "city_issues/img/no-image.png" %}" alt="..." class="img-thumbnail">
            </div>
        {% endif %}
            <ul class="product-list-vertical">
                <div class="col-sm-7">
                    <li>
                        <div class="product-details">
                            <p class="product-price">{{ issue.status }}</p>
                            <h4>Title: {{ issue.title }}</h4>
                            <h4>User: {{ issue.user }}</h4>
                            <h4>Category: {{ issue.category }}</h4>
                            <h5>Open date: {{ issue.open_date }}</h5>
                            <h5>Close date: {{ issue.close_date }}</h5>
                            <h5>Latitude: {{ issue.location_lat }}</h5>
                            <h5>Longitude: {{ issue.location_lon }}</h5>
                            <p class="product-description">{{ issue.description }}</p>
                        </div>
                    </li>
                </div>
            </ul>
    </div>
</div>

{% endblock content %}
