{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}Detailed Issue{% endblock meta_title %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/detailed_issue.css' %}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
{% endblock extra_css %}

{% block content %}

    <ul class="product-list-vertical">

        <li>

            <a href="#" class="product-photo">
                <img src="../static/images/avatar.png" height="160" />
            </a>

            <div class="product-details">
                <p class="product-price">{{ object.status }}</p>
                <h4>Title: {{ object.title }}</h4>
                <h4>User: {{ object.user }}</h4>
                <h4>Category: {{ object.category}}</h4>
                <h5>Open date: {{ object.open_date}}</h5>
                <h5>Close date: {{ object.close_date}}</h5>
                <h5>Latitude: {{ object.location_lat}}</h5>
                <h5>Longitude: {{ object.location_lon}}</h5>


                <p class="product-description">{{ object.description}}</p>

                 <div class="navbar-form navbar-left" style="padding-left: 0;">
                    <a href="{% url 'issue-comment' object.pk %}" type="button" class="btn btn-md btn-info">
                        <span class="glyphicon glyphicon-plus"></span> Add Comments
                    </a>
                </div>
            </div>

        </li>

    </ul>

{% endblock content %}
