{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}All Issues{% endblock meta_title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="page-header text-center">
          <h1><small>All Issues:</small></h1>
           <form action="{% url "issues" %}" method="GET">
               {{form.search}} 
            <button class="btn btn-info" type="submit" > Search </button>
            </form>
        </div>
    </div>
    <div class="row">
      <div>
          <table class="table table-hover">
              {% with search=request.GET.search order_by=request.GET.order_by reverse=request.GET.reverse %}
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th>
                      <a href="{% url "issues" %}?{%if search %}search={{request.GET.search}}&amp;{%endif%}order_by=title{% if order_by == 'title' and reverse != 'v_v' %}&amp;reverse=v_v{% endif %}">
                    Title
                    {% if order_by == 'title' and reverse != 'v_v' %}&uarr;
                        {% elif order_by != 'status' and order_by != 'description' and order_by != 'category' and reverse != 'v_v' %}&uarr;
                        {% elif order_by == 'title' and reverse == 'v_v' %}&darr;
                    {% endif %}
                      </a>
                  </th>
                  <th>
                      <a href="{% url "issues" %}?{%if search %}search={{request.GET.search}}&amp;{%endif%}order_by=status{% if order_by == 'status' and reverse != 'v_v' %}&amp;reverse=v_v{% endif %}">
                    Status
                    {% if order_by == 'status' and reverse != 'v_v' %}&uarr;
                        {% elif order_by == 'status' and reverse == 'v_v' %}&darr;
                    {% endif %}
                      </a>
                  </th>
                  <th>
                      <a href="{% url "issues" %}?{%if search %}search={{request.GET.search}}&amp;{%endif%}order_by=description{% if order_by == 'description' and reverse != 'v_v' %}&amp;reverse=v_v{% endif %}">
                    Description
                    {% if order_by == 'description' and reverse != 'v_v' %}&uarr;
                        {% elif  order_by == 'description' and reverse == 'v_v' %}&darr;
                    {% endif %}
                      </a>
                  </th>
                  <th>
                      <a href="{% url "issues" %}?{%if search %}search={{request.GET.search}}&amp;{%endif%}order_by=category{% if order_by == 'category' and reverse != 'v_v' %}&amp;reverse=v_v{% endif %}">
                    Category
                    {% if order_by == 'category' and reverse != 'v_v' %}&uarr;
                        {% elif order_by == 'category' and reverse == 'v_v' %}&darr;
                    {% endif %}
                      </a>
                  </th>
                </tr>
              </thead>
              {% endwith %}
              <tbody>
              {% for issue in issues_list %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td><a href="#">{{ issue.title }}</a></td>
                  <td>{{ issue.status }}</td>
                  <td>{{ issue.description }}</td>
                  <td>{{ issue.category }}</td>
                </tr>
              {% endfor %}
              </tbody>
        </table>
      </div>
    </div>
</div>

<!--start pagination-->
{% if is_paginated %}
{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
<nav class="customPag" aria-label="Page navigation" style="text-align: center">
    <ul class="pagination pagination-lg">
        {% if page_obj.has_previous %}
        <li>
            <a aria-label="Previous" href="{% url "issues" %}?page={{ page_obj.previous_page_number }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">
            <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% for issue in issues_range %}
        <li class="{% if page_obj.number == forloop.counter %} active {% endif %}">
            <a href="{% url "issues" %}?page={{ forloop.counter }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">{{ forloop.counter }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li>
            <a aria-label="Next" href="{% url "issues" %}?page={{ page_obj.next_page_number }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">
            <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endwith %}
{% endif %}

<!--end pagination-->

{% endblock content %}
