{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load bootstrap3%}
{% load app_filters %}

{% block meta_title %}All Issues{% endblock meta_title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="page-header text-center">
          <h1><a href="{% url "issues"%}"> <small>All Issues:</small></a></h1>
          {% with search=request.GET.search %}
          <form class="form-inline" action="{% url "issues" %}" method="GET" id="form" data-search="{{ search }}">
            {{ form.search }}
            {{ form.order_by }}
            {{ form.reverse }}
            {{ form.page }}
            <button class="btn btn-info" type="submit" id="submit-btn">{% bootstrap_icon 'search' %}</button>
            </form>
            {% endwith %}
        </div>
    </div>
    <div class="row">
      <div>
          <table class="table table-hover">
              {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th>
                      <a href="{% url "issues" %}{% update_url request.GET order_by='title' page='1' %}">
                    Title
                    {% if order_by == 'title' and reverse != 'v_v' %}&uarr;
                        {% elif order_by != 'status' and order_by != 'user' and order_by != 'category' and reverse != 'v_v' %}&uarr;
                        {% elif order_by == 'title' and reverse == 'v_v' %}&darr;
                    {% endif %}
                      </a>
                  </th>
                  <th>
                      <a href="{% url "issues" %}{% update_url request.GET order_by='status' page='1'%}">
                    Status
                    {% if order_by == 'status' and reverse != 'v_v' %}&uarr;
                        {% elif order_by == 'status' and reverse == 'v_v' %}&darr;
                    {% endif %}
                      </a>
                  </th>
                  <th>
                      <a href="{% url "issues" %}{% update_url request.GET order_by='user' page='1'%}" >
                    User
                    {% if order_by == 'user' and reverse != 'v_v' %}&uarr;
                        {% elif  order_by == 'user' and reverse == 'v_v' %}&darr;
                    {% endif %}
                      </a>
                  </th>
                  <th>
                      <a href="{% url "issues" %}{% update_url request.GET order_by='category' page='1'%}" >
                    Category
                    {% if order_by == 'category' and reverse != 'v_v' %}&uarr;
                        {% elif order_by == 'category' and reverse == 'v_v' %}&darr;
                    {% endif %}
                      </a>
                  </th>
                  <th>
                      <a href="{% url "issues" %}{% update_url request.GET order_by='open_date' page='1' %}">
                    Open date
                    {% if order_by == 'open_date' and reverse != 'v_v' %}&uarr;
                        {% elif order_by == 'open_date' and reverse == 'v_v' %}&darr;
                    {% endif %}
                      </a>
                  </th>
                </tr>
              </thead>
              {% endwith %}
              <tbody>
              {% for issue in issues_list %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td><a href="{% url "issue" issue.id %}">{{ issue.title }}</a></td>
                  <td>{{ issue.status }}</td>
                  <td>{{ issue.user }}</td>
                  <td>{{ issue.category }}</td>
                  <td>{{ issue.open_date }}</td>
                </tr>
              {% endfor %}
              </tbody>
        </table>
      </div>
    </div>
</div>

{% if is_paginated %}
<nav class="customPag" aria-label="Page navigation" style="text-align: center">
    <ul class="pagination pagination-lg">
        {% if page_obj.has_previous %}
        <li>
            <a aria-label="Previous" href="{% url "issues" %}{% update_url request.GET page=page_obj.previous_page_number %}">
            <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% for issue in issues_range %}
        <li class="{% if page_obj.number == forloop.counter %} active {% endif %}">
            <a href="{% url "issues" %}{% update_url request.GET page=forloop.counter %}">{{ forloop.counter }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li>
            <a aria-label="Next" href="{% url "issues" %}{% update_url request.GET page=page_obj.next_page_number %}">
            <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}


{% block extra_js %}
{% load static %}
<script type="text/javascript" src="{% static "js/search.js" %}"> </script>
{% endblock extra_js %}

{% endblock content %}
