{% extends "base.html" %}

{% load bootstrap3%}

{% block meta_title %}Moderation Panel{% endblock meta_title %}

{% block content %}

<div class='col-sm-6 col-sm-offset-3'>
  <h1>Confirm Delete</h1>

            <form method="POST" action=""> {% csrf_token %}
                <p>Are you sure you want to delete issue: "{{ issue.title }}"?</p>
              
                <input type='submit' value='Confirm' class='btn btn-warning'>
                <a href='{% url "modpanel" %}' class='btn btn-default'>Cancel</a>
            </form>
        </div>

{% endblock content %}