{% extends "base.html" %}

{% load bootstrap3%}

{% block meta_title %}{{ title }}{% endblock meta_title %}
{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/issues.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/general.css' %}"/>
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
{% endblock extra_css %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="page-header text-center">
                <h1><small>Moderate Issue :: {{ title }}</small></h1>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="width map-width">
            <div class="row">
                {% if messages %}
                    <div class="alert alert-info">
                        {% for message in messages %}
                            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </div>

                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input id="submit" class="btn btn-success" type="submit"
                           value="Approve"/>
        {% if not issue.delete_date %}
                            <a class="btn btn-danger" data-toggle="modal" data-target="#deletion" data-elem-id="{{ issue.id }}"
                               data-func-name="modpanel"
                               data-elem-name="delete" data-name="{{ issue.title }}" data-issue-id="{{ issue.pk }}">
                                <span class="glyphicon glyphicon-trash"></span></a>
                        {% else %}
                            <a class="btn btn-success" data-toggle="modal" data-target="#deletion" data-elem-id="{{ issue.id }}"
                               data-func-name="modpanel"
                               data-elem-name="restore" data-name="{{ issue.title }}" data-issue-id="{{ issue.pk }}">
                                <span class="glyphicon glyphicon-refresh"></span></a>
                        {% endif %}
                </form>
                <br>
                <a href="{% url "modpanel" %}" class="btn btn-info">Return to
                    moderator panel</a>
                <div class="images">
                    {% for image in issues.get_attachments %}
                        <a class="del-img" data-attach-id="{{ image.id }}"
                           data-toggle="modal" data-target="#deleteModal">&times;</a>
                        <img src="{% get_media_prefix %}{{ image.image_url }}"
                             alt="{{ image.image_url }}" class="imgs">
                    {% endfor %}
                </div>

            </div>
            <div class="col-sm-6">
                <div id="map"></div>
            </div>
        </div>
    </div>

       <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'delete-attachment' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <h3>Are you sure delete this image?</h3>
                        <input type="hidden" value="" name="attachment-id">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                        <button type="submit" class="btn btn-danger">Delete
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

        <div class="modal fade" id="deletion" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body"> </div>
                <div class="modal-footer">
                    <form id="delete-issue" method="post" action="#">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning button-confirm"> </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block extra_js %}
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
            integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
            crossorigin="">
    </script>

    {% load static %}
    <script type="text/javascript"
            src="{% static "city_issues/js/edit_on_map.js" %}"></script>
    <script type="text/javascript" src="{% static "js/general.js" %}"></script>
      <script type="text/javascript" src="{% static "mod_static/mod_modal.js" %}"></script>

{% endblock extra_js %}