
li.success, li.error {
  float: right;
  font-size: 18px;
  font-weight: bold;
}

li.success{
  color: green;
}

li.error{
  color: red;
}

ul.messages{
  list-style-type: none;
  position: absolute;
  top: 75px;
  z-index: 1000;
  right: 90px;
}

a.del-msg{
  float: right;
}

.wrapper{
    margin: 0 100px;
    min-width: 1100px;
}

.width{
    width: 100%;
    margin: 20px 0;
}