.wrapper{
    margin: 0 100px;
    min-width: 1100px;
}

.width{
    width: 100%;
    margin: 20px 0;
}

.panel-heading, .panel-footer{
    height: 50px;
}

.user_message{
    position: relative;
    bottom: 20px;
}

.dataTable > thead > tr > th[class*="sort"]:after{
    content: "";
}

ul.errorlist{
    position: relative;
    right: 38px;
}

ul.errorlist li{
    color: red;
    list-style: none;
}