# DBUSERNAME, DBPASSWORD и DBNAME needs to change to your's database credentials


for Unix:
	export APP_SETTINGS="config.DevelopmentConfig"
	export DATABASE_URL='postgresql://DBUSERNAME:DBPASSWORD@localhost/DBNAME'

for Windows:
	set APP_SETTINGS=config.DevelopmentConfig
	set DATABASE_URL=postgresql://DBUSERNAME:DBPASSWORD@localhost/DBNAME