class Config(object):
     DEBUG = False

     WTF_CSRF_ENABLED = True
     WTF_CSRF_SECRET_KEY = 'SECRET_OR_NOT_KEY'
     SQLALCHEMY_DATABASE_URI = 'postgres://user:password@localhost/db_name'
     SQLALCHEMY_TRACK_MODIFICATIONS = False


 class ProductionConfig(Config):
     DEBUG = False


 class DevelopmentConfig(Config):
     DEBUG = True

