click==6.7
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
inflect==0.2.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
pep8==1.7.1
psycopg2==2.7.3.2
six==1.11.0
sqlacodegen==1.1.6
SQLAlchemy==1.1.14
SQLAlchemy-Utils==0.32.19
Werkzeug==0.12.2
WTForms==2.1
