# Rename this file to config.py and fill SQLALCHEMY_DATABASE_URI with
# your's data.


class Config(object):

    DEBUG = False
    
    # Enter yours secret key(it must be some string)
    SECRET_KEY = ''

    WTF_CSRF_ENABLED = True

    WTF_CSRF_SECRET_KEY = 'SECRET_OR_NOT_KEY'

    # Change database credentials to yours.
    SQLALCHEMY_DATABASE_URI = 'postgres://user:password@localhost/db_name'

    SQLALCHEMY_TRACK_MODIFICATIONS = False

    # password hashing rounds
    BCRYPT_LOG_ROUNDS = 14

    MEDIA_FOLDER = os.path.abspath(os.path.join('client', 'apps', 'city_issues', 'media'))

    # mail configure
    MAIL_SERVER = 'smtp.googlemail.com'
    MAIL_PORT = 587
    MAIL_USE_TLS = True
    MAIL_USERNAME = 'info.cityissues@gmail.com'
    MAIL_PASSWORD = 'passqwerty'
    ADMIN_MAIL_SUBJECT_PREFIX = '[CityView]'
    ADMIN_MAIL_SENDER = 'CityView Admin <contact@example.com>'


class ProductionConfig(Config):
    DEBUG = False


class DevelopmentConfig(Config):
    DEBUG = True
