.map_container {
	height: 900px;
}

.issue_container {
	position: fixed;
	top: 72px;
	right: 0;

	display: none;
	box-sizing: border-box;
	width: 400px;
	height: 100%;
	padding: 20px;

	background-color: #fff;

	z-index: 999;
}

.issue_img-box {
	width: 360px;
	height: 225px;
}

#carousel-example-generic img {
	height: 100%;
	width: 100%;
}

.carousel-inner  .item{
  width: auto;
  height: 225px;
  max-height: 225px;
}

.issue_form-box {
	position: fixed;
	top: 52px;
	left: 5%;

	padding: 5px;

	background-color: #fff;
	box-shadow: 0 0 3px 0 #000;

	z-index: 999;
}

.message_box {
	display: none;
}

.message_box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.message_box .error {
	
	font-size: 16px;
	color: red;
}

.issue_form-container {
	display: none;
}