{% extends "../base.html" %}
{% load i18n %}

{% block title %}Register for an account{% endblock %}

<!--{% block status_message %}-->
<!--{% if form.errors %}-->
<!--<div class="alert alert-warning" role="alert">{% trans "Please, correct the following errors." %} {{ form.non_field_errors }}</div>-->
<!--{% endif %}-->
<!--{% endblock %}-->

{% block content %}
<!--<form action="{% url "registration" %}" method="post" enctype="multipart/form-data"-->
    <!--class=”form-horizontal” style="width: 35%;">-->

  <!--{% csrf_token %}-->
  <!--<input type="hidden" name="next" value="{% url "home" %}" />-->

  <!--<div class="form-group">-->
    <!--<label class="required" for="id_name">Name</label>-->
    <!--<input type="text" class="form-control" id="id_name" value=""-->
           <!--name="id_name" />-->
    <!--<span class="help-block">{{ form.errors.username.as_text }}</span>-->
  <!--</div>-->

  <!--<div class="form-group">-->
    <!--<label class="required" for="id_email">Email</label>-->
    <!--<input type="text" class="form-control" id="id_email" value=""-->
           <!--name="id_email" />-->
    <!--<span class="help-block">{{ form.errors.email.as_text }}</span>-->
  <!--</div>-->

  <!--<div class="form-group">-->
    <!--<label class="required" for="password">Password</label>-->
    <!--<input type="password" class="form-control" id="password" value=""-->
           <!--name="password1" />-->
    <!--<span class="help-block">{{ form.errors.password1.as_text }}</span>-->
  <!--</div>-->

  <!--<div class="form-group">-->
    <!--<label class="required" for="password-confirm">Confirm Password</label>-->
    <!--<input type="password" class="form-control" id="password-confirm" value=""-->
           <!--name="password2" />-->
    <!--<span class="help-block">{{ form.errors.password2.as_text }}</span>-->
  <!--</div>-->

  <!--<button type="submit" class="btn btn-primary">Sign in</button>-->

<!--</form>-->

<form method="post" action="{% url "registration" %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Sign in" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock content %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
