{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}Registration{% endblock %}


{% block content %}

{% block status_message %}
    {% if form.errors %}
        <div class="alert alert-warning" role="alert">{% trans "Please, correct the following errors." %} {{ form.non_field_errors }}</div>
    {% endif %}
{% endblock %}

<div class="container">
    <form method="post" enctype="multipart/form-data" class=”form-horizontal”
            style="width: 35%;" action="{% url "accounts:registration_register" %}">

        {% csrf_token %}
        <input type="hidden" name="next" value="{% url "home" %}" />

        <div class="form-group">
            <label for="id_email" class="col-sm-3 control-label">Email</label>
            <input type="email" class="form-control" required id="id_email" value="{{ request.POST.email }}"
                   name="email" />
            <span class="help-block">{{ form.errors.email.as_text }}</span>
        </div>

        <div class="form-group">
            <label for="id_alias" class="col-sm-3 control-label">Nickname</label>
            <input type="text" class="form-control" required id="id_alias" value="{{ request.POST.alias }}"
                   name="alias" />
            <span class="help-block">{{ form.errors.alias.as_text }}</span>
        </div>

        <div class="form-group">
            <label for="id_password1" class="col-sm-3 control-label">Password</label>
            <input type="password" name="password1" class="form-control" id="id_password1" value="{{ request.POST.password1 }}"/>
            <span class="help-block">{{ form.errors.password1.as_text }}</span>
        </div>

        <div class="form-group">
            <label for="id_password2" class="col-sm-3 control-label">Confirm Password</label>
            <input type="password" name="password2" class="form-control" id="id_password2" value="{{ request.POST.password2 }}"/>
            <span class="help-block">{{ form.errors.password2.as_text }}</span>
        </div>

        <button type="submit" class="btn btn-primary">Sign up</button>

    </form>
</div>

{% endblock content %}
