{% extends "home_page.html" %}

{% load i18n %}

{% block meta_title %}Issues page{% endblock meta_title %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_page.css' %}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>
{% endblock extra_css %}


{% block content %}
    <div class="wrapper">
        <div class="width">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ user.name }}</h3>
                    <a type="button" class="btn btn-sm btn-primary pull-right user_message">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3">
                            <img alt="User avatar" {% load static %} src="{% static "images/avatar.png" %}" class="img-circle img-responsive">
                        </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Alias:</td>
                                    <td>{{ user.alias }}</td>
                                </tr>
                                <tr>
                                    <td>Role:</td>
                                    <td>{{ user.role.role }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><a href="mailto:info@support.com">{{ user.email }}</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-right">
                        <a href="#edit.html" class="btn btn-sm btn-warning">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    <a href="/" class="btn btn-sm btn-danger">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="width">
            <h2>Added issus</h2>

            <table id="user_issues" class="display" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Open date</th>
                    <th>Close date</th>
                    <th></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Open date</th>
                    <th>Close date</th>
                    <th></th>
                </tr>
                </tfoot>
                <tbody>
                {% for issue in user_issues %}
                    <tr>
                        <td>{{ forloop.counter }} </td>
                        <td>{{ issue.title }}</td>
                        <td>{{ issue.category.category }}</td>
                        <td>{{ issue.status }}</td>
                        <td>{{ issue.open_date }}</td>
                        <td>{{ issue.close_date }}</td>
                        <td>
                           <a href="#"
                              class="btn btn-sm btn-info">
                               <span class="glyphicon glyphicon-edit"></span>
                               edit
                           </a>
                        </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}


{% block extra_js %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#user_issues').DataTable();
        });
    </script>
{% endblock extra_js %}
