{% extends "base.html" %}

{% block navbar %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<nav class="navbar navbar-default">
					<ul class="nav navbar-nav">
						<li><a href="{{ url_for('index') }}">Main page</a></li>
						<li><a href="{{ url_for('admin') }}">Admin page</a></li>
						<li><a href="{{ url_for('logout') }}">Logout</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
{% endblock %}


{% block content %}

	{% include 'flash-message.html' %}

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Welcome to the Users management</h1>
				<a href="/user_page" class="btn btn-primary">Work with users</a>
			</div>
		</div>
	</div>
		
{% endblock %}