{% extends 'layouts.html' %}


{% block title_suffix %}Issues managements{% endblock title_suffix %}

{% block navbar_li %}
    <li><a href="{{ url_for('user_page') }}">Users page</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock navbar_li %}

{% block content %}
    <form class="form-inline" action="{{ url_for('issues_page') }}" method="GET">
        <h4> Search issue: {{form.search(size=40, class="form-control")}}
            search by: {{form.search_by(class="form-control") }}
            sort by: {{form.order_by(class="form-control")}}
            <input class="btn btn-primary" type="submit" value="Search">
        </h4>
</form>
<br>
<div class="table-responsive">
    <table class="table table-hover">
           <tr>
               <th>Id</th>
               <th>Title</th>
               <th>Owner</th>
               <th>Category</th>
               <th>Status</th>
               <th>Open date</th>
               <th>Delete date</th>
               <th></th>
               <th></th>
           </tr>
           {% for category, issue, user in issues.items %}
                <tr>
                    <td>{{ issue.id }}</td>
                    <td> <a href="{{ url_for('issue_info', issue_id=issue.id) }}">{{ issue.title }}</a></td>
                    <td>{{ user }}</td>
                    <td>{{ category}}</td>
                    <td> {{ issue.status }} </td>
                    <td>{{ issue.open_date.strftime('%Y-%m-%d %H:%M') }}</td>
                    <td>
                        {%  if issue.delete_date %}
                            {{ issue.delete_date.strftime('%Y-%m-%d %H:%M') }}
                        {% endif %}
                    </td>
                    <td><a href="{{ url_for('issue_modify', issue_id=issue.id) }}" class="btn btn-primary">Edit</a> </td>
                    {%if not issue.delete_date %}
                        <td><a class="btn btn-danger" data-toggle="modal" data-target="#deletion" data-elem-id="{{ issue.id }}"
                               data-name="{{ issue.title }}" data-func-name="delete" data-elem-name="issue">Delete</a></td>
                    {% else %}
                        <td>
                            <a class="btn btn-success" data-toggle="modal" data-target="#deletion" data-elem-id="{{ issue.id }}"
                               data-name="{{ issue.title }}" data-func-name="restore" data-elem-name="issue">Restore</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
    </table>
</div>
{% if issues.pages > 1 %}
  <div class="text-center">
    {% if issues.has_prev %}
        <a class="btn" href="{{ url_for('issues_page', num_page=issues.prev_num)+ get  }}"><< </a>
    {% endif %}
    {% for page in issues.iter_pages() %}
        {% if page == issues.page %}
            <a class="btn btn-primary" >{{ page }}</a>
        {% else %}
            <a class="btn" href="{{ url_for('issues_page', num_page=page )+ get }}">{% if not page %}...{%else%} {{ page }} {% endif %}</a>
        {% endif %}
    {% endfor %}
    {% if issues.has_next %}
        <a class="btn" href="{{ url_for('issues_page', num_page=issues.next_num)+ get  }}">>></a>
    {% endif %}
  </div>
{%endif%}

{% include 'modal_confirm.html' %}

{% endblock %}