{% extends 'layouts.html' %}


{% block title_suffix %}Issues edit{% endblock title_suffix %}

{% block navbar_li %}
    <li><a href="{{ url_for('issues_page') }}">Issues page</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock navbar_li %}

{% block content %}
    <h1>Issue modifying form: {{ issue.title }}</h1>
    <div class="col-md-5">
        <form class="form" method="post" role="form" action="{{ route_to }}">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.title) }}
            {{ wtf.form_field(form.status) }}
            {{ wtf.form_field(form.description) }}
            {{ wtf.form_field(form.location_lat) }}
            {{ wtf.form_field(form.location_lon) }}
            {{ wtf.form_field(form.category_id) }}
		  <input class="btn btn-success" type="submit" name="save" value="Save">
            <a href="{{ url_for('issue_info', issue_id=issue.id) }}" class="btn btn-primary">Edit Attachments</a>
            {%if not issue.delete_date %}
                        <a class="btn btn-danger" data-toggle="modal" data-target="#deletion" data-elem-id="{{ issue.id }}"
                               data-name="{{ issue.title }}" data-func-name="delete" data-elem-name="issue">Delete</a>
                    {% else %}
                            <a class="btn btn-success" data-toggle="modal" data-target="#deletion" data-elem-id="{{ issue.id }}"
                               data-name="{{ issue.title }}" data-func-name="restore" data-elem-name="issue">Restore</a>
                    {% endif %}
		</form>
        <br>
    <a href="{{ url_for('issues_page') }}" class="btn btn-info">Return to issues page</a>

    </div>

    {% include 'modal_confirm.html' %}

{% endblock %}