{% extends "base.html" %}
{% block content %}
	<h1>Welcome to the Admin page</h1>
	<table class="user_table">
		<tr>
			<th class="user_table-cell">Id</th>
			<th class="user_table-cell">User</th>
			<th class="user_table-cell">Alias</th>
			<th class="user_table-cell">E-mail</th>
			<th class="user_table-cell">Role</th>
			<th class="user_table-cell">Avatar</th>
			<th class="user_table-cell">Delete date</th>
			<th class="user_table-cell"></th>
			<th class="user_table-cell"></th>
		</tr>

		{% for user in users %}
		<tr>
			<td class="user_table-cell">{{ user[0].id }}</td>
			<td class="user_table-cell">{{ user[0].name }}</td>
			<td class="user_table-cell">{{ user[0].alias }}</td>
			<td class="user_table-cell">{{ user[0].email }}</td>
			<td class="user_table-cell">{{ user[1].role }}</td>
			<td class="user_table-cell">{{ user[0].avatar }}</td>
			<td class="user_table-cell">{{ user[0].delete_date }}</td>
			<td class="user_table-cell"><a href="/user_modify?id={{ user[0].id }}">Edit</a></td>
			<td class="user_table-cell"><a href="/delete_user?id={{ user[0].id }}">Delete</a></td>
		</tr>

		{% endfor %}
	</table>
	<a href="/user_modify" class="button">Add new user</a>
{% endblock %}
